<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ילי בן 8!!!</title>
  <link rel="stylesheet" href="build/css/style.css">
</head>
<body>
<div id="game">
  <div id="canvas"></div>
  <button v-if="state === 'ready'" v-on:click="startGame">Start Game</button>
  <br>
  <div v-if="state === 'racing'">
    <button v-on:click="stopGame">Stop Game</button>
    <br>
    <button v-on:click="race.switchLane(-1)">left</button>
    <button v-on:click="race.switchLane(1)">right</button>
    {{ race.elapsedTime | moment("mm:ss:SS") }}
  </div>
</div>

<script src="build/bundle.js"></script>
</body>
</html>